@import '../../../public/assets/css/var';
.login-page{
    height: calc(100vh - 64px);
    position: relative;
    .background{
        background-image: url('/public/assets/img/photos/login-background.jpg');
        background-position: center;
        background-size: contain;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        opacity: 0.3;
    }
    .ant-form{
        .ant-form-item{
            margin-bottom: 10px;
            .ant-form-item-explain-error{
                color: white;
            }
        }
    }
    .login-form{
        .ant-form-item{
            .ant-form-item-row{
                .ant-form-item-control{
                    .ant-form-item-control-input{
                        .ant-form-item-control-input-content{
                            .ant-input-affix-wrapper{
                                border: none;
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }
            .ant-input:focus, 
            .login-form .ant-input-password:focus{
                padding: 10px;
            }
        }
    }
    
}