$green: #22AF5B;
$btn--green: #29AB56;
$list-action-color: #22AA00;
$bg-light-success: #C1FFD5;
$bright-green: #22AA00;
$dark-green: #007B2B;
$light-green: #62CD71;
$light-primary: #F0F8FF;
$primary: #2E9DFF;
$bg-light-primary: #F0F8FF;
$bg-light-danger: #FFEBEB;
$text-primary: #0066CC;
$white: white;
$grey: #2F294D;
$text-secondary: #969696;
$text-dark-secondary: #515154;
$border-grey: #DFDFDF;
$icon-secondary: #D9D9D9;
$border-secondary: #E4E4E4;
$bg-light-secondary: #FBFBFB;
$bg-inner-light-secondary: #E4E4E4;
$bg-input-secondary: #F0F0F0;
$light-grey: #C2C2C2;
$main-bg-grey: #F5F5FA;
$inner-icon-input: #A1A1A1;
$inner-text-input: #585858;
$bg-inner-input: #F6F6F6;
$danger: #FF000F;
$black: #000000;