
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.text-signature{
    font-family: "Dancing Script";
}
#root{
    min-height: 100vh;
    background-color: #FCFFE9;
}